form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 45%;
    margin-top: 10%;
}

button {
    width: 100px;
    margin-left: 50px;
    margin-top: 10px;
}

input {
    height: 20px;
}

body {
    background-color: rgb(252, 232, 213);
    background: url('../assets/cart-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    color: cornsilk;
}

a {
    color: cornsilk;
    font-size: 3em;
    padding: 20px;
}

label {
    padding: 3px;
    font-size: 2em;
}