header {
    margin: 50px;
    font-size: x-large;
}

main {
    padding: 20px;
    border: solid grey 1px;
    width: 400px;
    margin-left: 200px;
}

table td {
    text-align: center;
    padding: 10px;
}